<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178706240062-6tb9sch9pd9e3j17dunoi8i2q2b39n56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178706240062-6tb9sch9pd9e3j17dunoi8i2q2b39n56</string>
	<key>API_KEY</key>
	<string>AIzaSyARX8WMaflyoA-Li0hwgM18LCsSSh8REcY</string>
	<key>GCM_SENDER_ID</key>
	<string>178706240062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Penev.Famous-Quote-Quiz</string>
	<key>PROJECT_ID</key>
	<string>famousquotequiz-a2496</string>
	<key>STORAGE_BUCKET</key>
	<string>famousquotequiz-a2496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178706240062:ios:c419fa2f75e96c3f</string>
	<key>DATABASE_URL</key>
	<string>https://famousquotequiz-a2496.firebaseio.com</string>
</dict>
</plist>